//VAR FUENTES
$fontL: 'Lobster';

@font-face {
    src: url(../multimedia/fonts/lobster/Lobster-Regular.ttf);
    font-family: 'Lobster';
}

//VAR COLORES
$mainColor: #080319;
$sndColor: #1d0c57;
$trdColor: #3610c1;
$fthColor: #340fb8;